#blockchain-info {
    text-align: center;
}

#block-height {
    margin-bottom: 20px;
}

#node-list {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
}
